@use "variables" as *;

html {
  font-size: 24px;
}
body {
  font-family: "CustomFont" !important;
  margin: 0;
  padding: 0;
  font-size: 24px;
  background: $background;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $text;
}
@media (max-width: $screen-md) {
  html, body {
    font-size: 12px;
  }
}
a {
  color: $text;
  &:hover {
    text-decoration: none;
    color: $linked_text;
  }
}

h1 {
  font-weight: 800;
  margin: 2rem 0;
  font-size: 1.67rem;
  color: $text;
  position: relative;
  text-align: center;
  i {
    width: 3rem;
    text-align: center;
  }
  @media (max-width: $screen-lg) {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  @media (max-width: $screen-md) {
    font-size: 2rem;
    margin: 1rem 0;
  }
  @media (max-width: $screen-sm) {
    font-size: 1.5rem;
  }
}
h2 {
  font-weight: 800;
  margin: 2rem 0;
  font-size: 1.33rem;
  color: $text;
  position: relative;
  text-align: center;
  i {
    width: 3rem;
    text-align: center;
  }
  @media (max-width: $screen-md) {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
h3 {
  font-weight: 700;
  margin: 1rem 0;
  font-size: 1.25rem;
  color: $text;
  @media (max-width: $screen-md) {
    font-size: 1rem;
  }
}

.title-bar{
  position: relative;
  width: 87%;
  left: 6.5%;
  border-bottom: 5px solid $text;
  z-index: 5;
  margin-bottom: 2.5rem;
  @media (max-width: $screen-md) {
    left: 15%;
    width: 70%;
    border-bottom: 4px solid $text;
    margin-bottom: 1.5rem;
  }
}
.white_font{
  color: $white;
}
.linked_font{
  color: $white;
  &:hover {
    color: $linked_text;
  }
}

.article-body {
  margin: 1rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  @media (max-width: $screen-md) {
    line-height: 20px;
  }
}

@font-face {
  font-family: "Honghuang-SemiBold";
  src: url("@meichu/assets/fonts/REEJI-HonghuangLiGB-SemiBold-2.ttf") format("truetype");
}
@font-face {
  font-family: "Honghuang-Black";
  src: url("@meichu/assets/fonts/REEJI-HonghuangLiGB-Black-2.ttf") format("truetype");
}
@font-face {
  font-family: "Chiron Hei HK";
  src: url("@meichu/assets/fonts/ChironHeiHKVF.ttf") format("truetype");
}
@font-face {
  font-family: "CustomFont";
  src: url("@meichu/assets/fonts/ChironHeiHKVF.ttf") format("truetype"),
       local("微軟正黑體"), local("Microsoft JhengHei"), local("Heiti TC");
}

::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #fff;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: #000;    /* color of the scroll thumb */
  border-radius: 1px;       /* roundness of the scroll thumb */
  // border: 3px solid #888;  /* creates padding around scroll thumb */
}

img {
  max-width: 100%;
}
