// Colors
$light: #b63339;
$primary: #ff0085;
$dark: #4c3b22;
$gray: #8e8d8e;


$nthu: #AD3FCE;
$nctu: #042EEC;
$stop: #c1c1c1;
$equal: #ffc861;

$white: #ffffff;
$red: #d5101a;
$blue: #1c2e6e;
$lightblue: #00a5ea;
$orange: #e83310;
$brown: #956b26;
$teal: #58BCB0;
$link: #2296ff;
$activity: #f887ba;
$news: #00c7d5;
$other: #ffd128; 
$black: #000000;
$yellow: #F0E631;
$games: #b27f71;
$light-bg: #f3e29e;
$background: #130F13;
$text: $white;
$linked_text: #ff0085;
$background-lighter: rgba(34, 34, 34, 0.4);

// Screen Sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-2xl: 1400px;

// Layout
$outline: 3px;
$outline-margin: 25px;
$outline-margin-sm: 10px;

// Fonts
$font-family: 'Chiron Hei HK', "Microsoft JhengHei", sans-serif;
