@use "sass:meta";
@use "sass:map";
@use "scss/base";

@import '~bootstrap/dist/css/bootstrap-grid.css';

#meichu2026 {

  /* Mobile About */
  .hazard-line {
    color: white;
    padding: 2.5px;
    background-image: repeating-linear-gradient(
      55deg,
      #000,
      #000 5px,
      #ffb101 5px,
      #ffb101 10px
    );
  }
  .break-line {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
  .mobile-about {
    display: none;
    padding: 0 12%;
    @media (max-width: $screen-md) {
      display: block;
    }
    .circle {
      position: absolute;
      width: 30%;
      height: auto;
      top: 0;
      left: 0;
    }
    .about-section {
      position: relative;
      padding: -1.5rem 0 1.5rem 0;
    }
    .about-title {
      padding-top: 15px;
      height: 110px;
      display: flex;
      justify-content: space-between;
    }
    .line-container {
      display: flex;
      gap: 3px;
    }
    .about-title__content {
      position: relative;
      width: 25%;
      flex-grow: 1;
      margin-left: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 900;
        letter-spacing: 0.25em;
        color: rgba(88, 188, 176, 1);
      }
      @media (max-width: $screen-md) {
        br {
          display: none;
        }
        width: auto;
      }
      @media (max-width: $screen-sm) {
        br {
          display: block;
        }
      }
    }
    .img-container {
      display: inline-flex;
      width: 175.7px;
      justify-content: space-between;
      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
    .about-content {
      margin: 2.5rem 0;
      font-weight: 400;
      text-align: justify;
    }
    .org-card {
      background-color: rgba(107, 107, 107, 0.5);
      margin: 1rem 0;
      padding: 1rem;
      font-size: .9rem;
      text-align: left;
      .name-zh {
        font-weight: 700;
        font-size: 1rem;
      }
      .name-en {
        color: rgba(88, 188, 176, 1);
        text-align: left;
        line-height: 12.5px;
      }
      .content {
        margin-top: 6px;
        display: flex;
        gap: 10px;
      }
    }
  }
  /*  Mobile About End */
}