@use "sass:meta";
@use "sass:map";
@use "scss/base";

@import '~bootstrap/dist/css/bootstrap-grid.css';

#meichu2026 {
  /* Mobile Nav */
  .mobile-index-background{
    z-index: 5;
    width: 100vw;
    @media (min-width: $screen-md) {
      display: none;
    }
  }
  .mobile-header--active {
    background: $background;
    transition: .5s all cubic-bezier(0.15, 0.82, 0.165, 1);
  }
  .mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 50;
    @media (min-width: $screen-md) {
      display: none;
    }
    .logo {
      width: auto;
      margin: 0 1rem 0 1rem;
      vertical-align: middle;
      height: 60px;
      padding: .75rem 0;
    }
    .mobile-header__left {
      float: left;
    }
    .mobile-header__right {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 2rem 0 0;
      float: right;
    }
    .mobile-header__toggle {
      font-size: 2rem;
      text-align: center;
      .fas {
        width: 60%;
        height: auto;
      }
    }
    .mobile-nav {
      display: block;
      position: absolute;
      top: 60px;
      bottom: auto;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: .5s all cubic-bezier(0.15, 0.82, 0.165, 1);
      z-index: 50;
      @media (min-width: $screen-md) {
        display: none;
      }
      &.mobile-nav--active {
        top: 60px;
        bottom: auto;
        visibility: visible;
        opacity: 1;
      }
      .mobile-nav__ul {
        list-style: none;
        margin: 0;
        padding: 0 2rem 1rem 2rem;
        background: $background;
        border-bottom: 1px solid $background;
        overflow: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .mobile-nav__link {
        display: block;
        width: auto;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding: .35rem 0;
      }
    }
  }
  /* Mobile Nav End */

  /* Mobile About */
  .hazard-line {
    color: white;
    padding: 2.5px;
    background-image: repeating-linear-gradient(
      55deg,
      #000,
      #000 5px,
      #ffb101 5px,
      #ffb101 10px
    );
  }
  .break-line {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
  .mobile-about {
    display: none;
    padding: 0 12%;
    @media (max-width: $screen-md) {
      display: block;
    }
    .circle {
      position: absolute;
      width: 30%;
      height: auto;
      top: 0;
      left: 0;
    }
    .about-section {
      position: relative;
      padding: -1.5rem 0 1.5rem 0;
    }
    .about-title {
      padding-top: 15px;
      height: 110px;
      display: flex;
      justify-content: space-between;
    }
    .line-container {
      display: flex;
      gap: 3px;
    }
    .about-title__content {
      position: relative;
      width: 25%;
      flex-grow: 1;
      margin-left: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 900;
        letter-spacing: 0.25em;
        color: rgba(88, 188, 176, 1);
      }
      @media (max-width: $screen-md) {
        br {
          display: none;
        }
        width: auto;
      }
      @media (max-width: $screen-sm) {
        br {
          display: block;
        }
      }
    }
    .img-container {
      display: inline-flex;
      width: 175.7px;
      justify-content: space-between;
      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
    .about-content {
      margin: 2.5rem 0;
      font-weight: 400;
      text-align: justify;
    }
    .org-card {
      background-color: rgba(107, 107, 107, 0.5);
      margin: 1rem 0;
      padding: 1rem;
      font-size: .9rem;
      text-align: left;
      .name-zh {
        font-weight: 700;
        font-size: 1rem;
      }
      .name-en {
        color: rgba(88, 188, 176, 1);
        text-align: left;
        line-height: 12.5px;
      }
      .content {
        margin-top: 6px;
        display: flex;
        gap: 10px;
      }
    }
  }
  /*  Mobile About End */
}